@{
    Layout = null;
}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-bs-theme="dark" data-body-image="img-1" data-preloader="disable">

<head>

    <meta charset="utf-8"/>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/dashboard/assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="~/dashboard/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/dashboard/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="~/dashboard/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="~/dashboard/assets/css/app.min.css" rel="stylesheet" type="text/css"/>
    <!-- custom Css-->
    <link href="~/dashboard/assets/css/custom.min.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- auth-page wrapper -->
<div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">

    <!-- auth-page content -->
    <div class="auth-page-content overflow-hidden p-0">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-4 text-center">
                    <div class="error-500 position-relative">
                        <img src="~/dashboard/assets/images/error500.png" alt="" class="img-fluid error-500-img error-img"/>
                        <h1 class="title text-muted">401</h1>
                    </div>
                    <div>
                        <h4>Access Denied!</h4>
                        <p class="text-muted w-75 mx-auto">You are trying to reach a protected content, call IT-SUPPORT if you think this is by mistake.</p>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-success"><i class="mdi mdi-home me-1"></i>Back to home</a>
                    </div>
                </div><!-- end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth-page content -->
</div>
<!-- end auth-page-wrapper -->

</body>

</html>